---
pagination:
  data: collections.perspectivas
  size: 1
  alias: perspectiva
permalink: "/perspectivas/{{ perspectiva.slug }}/"
eleventyExcludeFromCollections: true
---
{% include "perspectiva.njk" %}
