{# Meta Pixel: solo init. PageView lo dispara script.js con el mismo
   event_id que Conversions API para deduplicar navegador + servidor.
   https://developers.facebook.com/documentation/ads-commerce/conversions-api
   El bloque va en raw: el IIFE de Meta usa llaves que Nunjucks interpretaría. #}
{% raw %}
<script>
  !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
  n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
  document,'script','https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1041292008527919');
</script>
<noscript><img height="1" width="1" style="display:none" alt="" eleventy:ignore
  src="https://www.facebook.com/tr?id=1041292008527919&ev=PageView&noscript=1" /></noscript>
{% endraw %}
